#title{
    color: #233A6c;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 3rem;
}

#navbarNav a{
    color: #233A6c;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-left: 3rem;
}
 #nav-right a{
    color: #233A6c;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
 }
#nav-btn{
    background-color: #233A6c;
    margin-right: 3rem;
}

#home {
    background-color:#F0F5FE;
}

#home h1 {
    color: #233A6c;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

#home h5{
    color: #233A6c;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

#home button{
    background-color: #233A6c;
    font-family: 'Inter', sans-serif;
    border-radius: 6px;
    padding: 16px 24px;
}

#headline{
    color: #7da9f3;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    
}

#Header{
    color: #233A6c;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

#section{
    background: linear-gradient(to top, #F0F5FE 70%, white 30%);
}
#section h1{
    color: #233A6c;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-left: 27rem;
    margin-top: 16rem;
    margin-bottom: 2rem;
}

#p1{
    color: #233A6c;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-left: 27rem;
    line-height: 2.5rem;
    font-size: 24px;
}

#video{
    margin-top: 11rem;
}

#p2{
    color: #233A6c;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font: size 14px;
    margin-left: 27rem;
    margin-right: 27rem;
    margin-top: 8rem;
    padding-bottom:4rem;
}

#headline2{
    color: #7da9f3;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

hr {
    width: 10%;
    top: 20px;
    border: none;
    height: 50px;
    background: black;
    margin-bottom: 50px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }

#devices{
    width:90%;
}
  